# Harbor
HARBOR_HOST=harbor.mondomaine.com
HARBOR_USER=robot$ci-spam-detector
HARBOR_PASSWORD=TON_TOKEN_HARBOR

# Image
IMAGE_TAG=latest

# API
API_PORT=8000
MODEL_PATH=/app/model/spam_model.pkl

# Monitoring
GRAFANA_PORT=3000
GRAFANA_PASSWORD=admin_secret

# Déploiement SSH (configurer dans Jenkins, ne pas committer)
STAGING_HOST=192.168.1.10
STAGING_USER=deploy
STAGING_PATH=/opt/spam-detector
PROD_HOST=10.0.0.5
PROD_USER=deploy
PROD_PATH=/opt/spam-detector
