# Copier ce fichier en harbor.yml dans le dossier Harbor téléchargé
hostname: ton-serveur.domaine.com   # ou IP

http:
  port: 80

# Décommenter pour HTTPS
# https:
#   port: 443
#   certificate: /chemin/vers/cert.pem
#   private_key: /chemin/vers/key.pem

harbor_admin_password: ChangeMe123!

database:
  password: ChangeMe456!
  max_idle_conns: 50
  max_open_conns: 100

data_volume: /data/harbor

trivy:
  ignore_unfixed: false
  skip_update: false
  offline_scan: false
  security_check: vuln
  insecure: false

jobservice:
  max_job_workers: 10

notification:
  webhook_job_max_retry: 3

log:
  level: info
  local:
    rotate_count: 50
    rotate_size: 200m
    location: /var/log/harbor

_version: 2.10.0
